body {
  background-color: black;
  color: white;
}

a {
  color: orange;
}

a:hover {
  color: red;
}

.container {
    margin: 20px auto;
    width: 1200px;
    padding: 0px 20px 20px 20px;
    border: 1px dotted gray;
  }
  th {
    text-align: left;
  }

a {
  color: pink;
  text-decoration: none;
}

a:hover {
  color: red;
}

.nav {
  position: relative;
  top: 0;
  background-color: rgba(255,255,255,0.1);
  height: 1em;
  padding: 1em;
  font-size: 1em;
  font-weight: 100;
  color: white;
}

.nav .logo {
  /*background-color: pink;*/
  float: left;
  line-height: 1em;
}

.nav .user-tools {
  /*background-color: yellow;*/
  float: right;
  line-height: 1em;
}

.nav .user-tools a {
  margin-left: 2em;
}

tr {
  border-top: 1px solid white;
}
tr:first-child {
  border: none;
  font-weight: 400;
}

tr:hover {
  background-color: rgba(255,255,255,0.1);
}


td {
  /*margin: 1em;*/
  padding: 0.2em .5em;
  border: 1px solid gray;
  /*background-color: pink;*/
  /*width: 50%;*/
}

/*td:first-child {
  border-right: 1px solid white;
}*/
