<div class="container">
  <h1>Event</h1>
  <p>Welcome to Event</p>

  <p>Login:</p>
  <div class="error"><%= @error %></div>
  <form class="login-forms" id="login-form" action="/" method="POST">
    <input type="text" name="email" placeholder="Email" class="input-fields" id="login-email"><br>
    <input type="password" name="password" placeholder="Password" class="input-fields" id="login-email"><br>
    <button type="submit" name="buttons" id="login-button">Login</button>
  </form>

  <p>Sign up:</p>
  <form class="signup-forms" id="signup-form" action="/signup" method="POST">
    <input type="text" name="first_name" placeholder="First Name" class="input-fields" id="signup-frist-name"><br>
    <input type="text" name="last_name" placeholder="Last Name" class="input-fields" id="signup-last-name"><br>
    <input type="date" name="birthdate" placeholder="Birthdate" class="input-fields" id="signup-birthdate"> - Birthday<br>
    <input type="text" name="email" placeholder="Email" class="input-fields" id="signup-email"><br>
    <input type="password" name="password" placeholder="Password" class="input-fields" id="signup-email"><br>
    <button type="submit" name="buttons" id="signup-button">Signup</button>
  </form>

</div>
