<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <!-- Mah face! -->
  <link rel="icon" href="/favicon128.png" sizes="128x128">
  <script src="/js/jquery-2.1.0.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Event</title>
</head>
<body>
  <div class="nav">
    <div class="logo"><a href="/dashboard">Event</a></div>
    <div class="user-tools"><a href="/about">About</a>
    <% if current_user %><a href="/logout">Log Out</a><% end %></div>
  </div>
  <%= yield %>
</body>
</html>
